############################################
######## VOIDCHAIN Configurations ##########
######## Author: Pedro Galveias   ##########
######## Author: Pedro Moleiro    ##########
############################################

# TODO WRITE ERROR & COMMENTS/INSTRUCTIONS
system.voidchain.protocol_version = 1.0
system.voidchain.transaction.max_size = 512000
system.voidchain.block.num_transaction = 3

# TODO n MB IN MEMORY INSTEAD OF n BLOCKS IN MEMORY
system.voidchain.memory.num_blocks = 3
system.voidchain.storage.block_file_extension = dat
system.voidchain.storage.block_file_base_name = block
system.voidchain.storage.block_file_directory = data/blocks/
