############################################
######## VOIDCHAIN Configurations ##########
######## Author: Pedro Galveias   ##########
######## Author: Pedro Moleiro    ##########
############################################

## NOTE: Changes made to this file during run time will be reflected on the replica.
##       Changes to the block file name, extension, directory and block sync service port will be discarded until restart.
##       Changing the directory of the block files will not move or deleted the files in the previous directory.

# Defines the amount of RAM to be used to store blocks in memory for faster access (in MB)
# NOTE: one block will always be kept in memory despite the value set bellow
# DEFAULT VALUE = 128
system.voidchain.memory.block_megabytes = 128

# Defines the file extension used to store block files
# NOTE: the system automatically adds the period (.) between file name and extension (see example bellow)
# DEFAULT VALUE = 'dat' [ use value between apostrophes (') ]
system.voidchain.storage.block_file_extension = dat

# Defines the name of the file used to store block files
# NOTE: the system will use a underscore (_) as a separator of file name and block number (see example bellow)
# DEFAULT VALUE = 'block' [ use value between apostrophes (') ]
system.voidchain.storage.block_file_base_name = block

# EXAMPLE: block 3 stored in disk using default values
#          'block_3.dat'

# Defines the directory used to store block files
# WARNING: always use forward slash (/) to separate directories, the system will
#          replace it with the one appropriate for your system
# DEFAULT VALUE = 'data/blocks/' [ use value between apostrophes (') ]
system.voidchain.storage.block_file_directory = data/block/


# Defines the Elliptic Curve domain param to be used in the generation of new keys
# DEFAULT VALUE = 'secp256k1' [ use value between apostrophes (') ]
system.voidchain.crypto.ec_param = secp256k1

# Defines the port where the block synchronization service will run
# DEFAULT VALUE = 18189
system.voidchain.sync.block_sync_port = 18189

#################
#### WARNING ####
#################
## Changing the values bellow on a single replica might make it not be able to enter consensus with others

# Defines the protocol version used to create transactions and blocks
# DEFAULT VALUE = 1.0
system.voidchain.protocol_version = 1.0

# Defines the max size in bytes of a transaction
# DEFAULT VALUE = 512000
system.voidchain.transaction.max_size = 5120

# Defines the number of transactions to be added to a block
# DEFAULT VALUE = 100
system.voidchain.block.num_transaction = 3
