############################################
######## VOIDCHAIN Configurations ##########
######## Author: Pedro Galveias   ##########
######## Author: Pedro Moleiro    ##########
############################################

# TODO WRITE ERROR & COMMENTS/INSTRUCTIONS
system.voidchain.protocol_version = 0.2
system.voidchain.transaction.max_size = 1024
system.voidchain.block.num_transaction = 5

system.voidchain.memory.num_blocks = 2
system.voidchain.storage.block_file_extension = .dat
system.voidchain.storage.block_file_base_name = block
system.voidchain.storage.block_file_directory = data/blocks/
